:root {
    --primary-color: #E86003;
    --white-color: #ffffff;
    --black-color: #000000;
    --desc-color: #444444;
}

body {
    color: var(--black-color);
}

.inner {
    max-width: 1440px;
    margin: 0 auto;
}

.tit {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

h2 {
    margin: 0 0 24px 0;
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
    text-indent: -1px;
}

.desc {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: var(--desc-color);
}

strong {
    display: block;
    margin: 0 0 24px 0;
    font-size: 24px;
    line-height: 24px;
}

@media(max-width:768px) {


    .default {
        background: #fff;
        padding: 40px 16px;

        border-bottom: 1px solid #eee;
    }

    h2 {
        margin: 0 0 16px 0;
        font-size: 40px;
        line-height: 40px;
        text-indent: -2px;
    }

    strong {
        display: block;
        margin: 0 0 16px 0;
        font-size: 18px;
        line-height: 24px;
        word-break: keep-all;
    }

    .desc {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: var(--desc-color);
        text-indent: -1px;
    }

}