* {
    /* outline: 1px solid tomato; */
}

.header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.7s;
    background: #fff;
}

.header::before {
    content: '';
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 1px;
    position: absolute;
    transition: 0.7s;
    border-bottom: 1px solid #ddd;
}

.header .inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
    height: 79px;
}

.header .inner .logo {
    width: 120px;
    height: 22px;
    background: url(../images/logo_black.png);
}

.header .inner .logo a {
    display: block;
    width: 120px;
    height: 22px;
    opacity: 0;
}

.header .inner .gnb {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 0;
    transition: 0s 0.9s;
}

.header .inner .gnb>ul>li {
    position: absolute;
    top: 0;
    right: 0;

    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    transition: color 0.3s,
        top 0.9s 0s cubic-bezier(1, .06, .65, .65),
        right 0.9s 0s cubic-bezier(1, .06, .65, .65);
}

.header .inner .gnb>ul>li>a {
    position: absolute;
    z-index: 9;
    bottom: 32px;
    left: 70px;
    font-size: 32px;
}

.header .inner .gnb>ul>li:nth-child(1) {
    z-index: 9;
    width: 46%;
    height: 25%;

    right: -46%;
    top: -25%;
}


.header .inner .gnb>ul>li:nth-child(2) {
    z-index: 8;
    width: 64%;
    height: 50%;

    right: -64%;
    top: -50%;
}

.header .inner .gnb>ul>li:nth-child(3) {
    z-index: 7;
    width: 82%;
    height: 75%;

    right: -82%;
    top: -75%;
}

.header .inner .gnb>ul>li:nth-child(4) {
    z-index: 6;
    width: 100%;
    height: 100%;

    right: -100%;
    top: -100%;
}

/* gnb.on */

.header .inner .gnb.on {
    height: 100%;
    right: 0;
    transition: 0s;
}

.header .inner .gnb.on>ul>li {
    right: 0;
    top: 0;
    transition: 0.5s;
}

.header .inner .gnb.on>ul>li:hover {
    background: #f9f9f9;
    transition: 0.5s;
}

.header .inner .gnb.on>ul>li:nth-child(1) {
    transition:
        0.5s,
        color 0.3s,
        top 0.9s 0.09s cubic-bezier(1, .06, .65, .65),
        right 0.9s 0.09s cubic-bezier(1, .06, .65, .65);
}

.header .inner .gnb.on>ul>li:nth-child(2) {
    transition:
        0.5s,
        color 0.3s,
        top 0.9s 0.06s cubic-bezier(1, .06, .65, .65),
        right 0.9s 0.06s cubic-bezier(1, .06, .65, .65)
}

.header .inner .gnb.on>ul>li:nth-child(3) {
    transition:
        0.5s,
        color 0.3s,
        top 0.9s 0.03s cubic-bezier(1, .06, .65, .65),
        right 0.9s 0.09s cubic-bezier(1, .06, .65, .65);
}

.header .inner .gnb.on>ul>li:nth-child(4) {
    transition:
        0.5s,
        color 0.3s,
        top 0.9s 0.0s cubic-bezier(1, .06, .65, .65),
        right 0.9s 0.09s cubic-bezier(1, .06, .65, .65);
}

.header .mbtn {
    position: relative;
    z-index: 999;
    display: block;
    font-size: 0;
    width: 30px;
    height: 30px;

    cursor: pointer;
}

.header .mbtn::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 4px;
    right: 4px;
    height: 2px;
    background: var(--black-color);
    transition: 0.5s;
}

.header .mbtn::after {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 4px;
    right: 4px;
    height: 2px;
    background: var(--black-color);
    transition: 0.5s;
}

.header .mbtn.on::before {
    display: none;
}

.header .mbtn.on::after {
    display: none;
}

.header .mbtn button::after {
    content: '';
    position: absolute;
    top: 14px;
    left: 4px;
    right: 4px;
    height: 2px;
    background: var(--black-color);
    transition: 0.5s;
}

.header .mbtn button::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 4px;
    right: 4px;
    height: 2px;
    background: var(--black-color);
    transition: 0.5s;
}

.header .mbtn.on button::after {
    transition: 0.5s;
    transform: rotate(45deg);
}

.header .mbtn.on button::before {
    transition: 0.5s;
    transform: rotate(-45deg);
}

/* header.on */

.header.on {
    background: transparent;
}

.header.content {
    transition: 0.01s;
    background: #eee;
}

.header.map {
    transition: 0.01s;
    background: var(--white-color);
}

.header.on::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 0;
    transition: 0.1s;
    border-bottom: 1px solid #ddd;
}

.header.on .inner .logo {
    background: url(../images/logo_white.png);
}

.header.on .inner .menubtn.on i {
    color: var(--black-color);
}

.header.on .inner .menubtn i {
    font-size: 24px;
    color: var(--white-color);
}

.header.on .mbtn::before {
    background: var(--white-color);
}

.header.on .mbtn::after {
    background: var(--white-color);
}

.header.on .mbtn button::before {
    background: var(--white-color);
}

.header.on .mbtn button::after {
    background: var(--white-color);
}

.header.on .mbtn.on button::after {
    background: var(--black-color);
}

.header.on .mbtn.on button::before {
    background: var(--black-color);
}

@media(max-width:768px) {

    .header .inner .logo {
        position: absolute;
        left: 16px;
    }

    .header .mbtn {
        position: absolute;
        right: 16px;
        width: 36px;
        height: 36px;
    }

    .header .mbtn button::before {
        top: 17px;
    }

    .header .mbtn button::after {
        top: 17px;
    }

    .header .inner .gnb {
        width: 100%;
    }
}

@media(max-width:480px) {
    .header .inner .gnb>ul>li>a {
        left: 40px;
    }
}






.main_visual {
    position: relative;
}

.main_visual .visual_slide .itm {
    height: 100vh;
}

.main_visual .visual_slide .itm01 {
    background: url(../images/main_visual_bg.jpg)no-repeat center center/cover;
}

.main_visual .visual_slide .itm02 {
    background: url(../images/main_visual_bg.jpg)no-repeat center center/cover;
}

.main_visual .visual_slide .itm02::before {
    content: '';
    position: absolute;
    z-index: 9;
    inset: 0 0 0 0;
    background: url(../images/main_visual_bg02.png)no-repeat center center/cover;
}


.main_visual .visual_slide .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_visual .visual_slide .slg p {
    display: block;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    color: var(--white-color);

    text-indent: 12px;
}

.main_visual .visual_slide .slg strong {
    display: block;
    font-size: 180px;
    line-height: 180px;
    font-weight: 500;
    color: var(--white-color);
}

@media(max-width:768px) {


    .main_visual {
        position: sticky;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .main_visual .visual_slide .slg strong {
        font-size: 120px;
        line-height: 120px;
    }
}

@media(max-width:480px) {
    .main_visual .visual_slide .slg {}

    .main_visual .visual_slide .slg p {
        font-size: 16px;
        text-indent: 0;
    }

    .main_visual .visual_slide .slg strong {
        font-size: 56px;
        line-height: 56px;
        text-indent: -4px;
    }

    .main_visual .visual_slide .itm01 {
        background: url(../images/main_m.jpg)no-repeat center center/cover;
    }

    .main_visual .visual_slide .itm02 {
        background: url(../images/main_m.jpg)no-repeat center center/cover;
    }

    .main_visual .visual_slide .itm02::before {
        content: '';
        position: absolute;
        z-index: 9;
        inset: 0 0 0 0;
        background: url(../images/main_bd_m.png)no-repeat center center/cover;
    }
}










.main_design {
    position: relative;
}

.main_design::before {
    content: '';
    z-index: 9;
    position: absolute;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.main_design .tit {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_design .tit {
    display: flex;
    flex-direction: column;
}

.main_design .tit h2 {
    display: block;
    margin: 0 0 32px 0;
    text-indent: -4px;
    color: var(--white-color);
}

.main_design .tit .tab_button {

    display: flex;
    gap: 20px;
    order: -1;
    margin: 0 0 32px 0;
}

.main_design .tit .tab_button li {
    position: relative;
}

.main_design .tit .tab_button li button {
    font-size: 20px;
    line-height: 24px;
    font-weight: 200;
    color: #ddd;
}

.main_design .tit .tab_button li.on button {
    color: var(--white-color);
    font-weight: 600;
    font-size: 24px;
}

.main_design .tit .tab_button li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(0, -50%);
    width: 1px;
    height: 14px;
    background: rgba(255, 255, 255, 0.3);
}

.main_design .tit .arrows {
    opacity: 0;
    display: flex;
    gap: 8px;
}

.main_design .tit .arrows.on {
    opacity: 1;
    z-index: 9;
}

.main_design .tit .design_space {
    position: absolute;
    bottom: 0;
}

.main_design .tap_wrap .tab_con .con {
    height: 0;
    overflow: hidden;

    transition: 0.5s;
}

.main_design .tap_wrap .tab_con .con.on {
    height: auto;
    transition: 0.5s;
}

.main_design .itm {
    position: relative;
    color: transparent;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
}

.main_design .design_ext_slide .itm01 .slide_img {
    position: absolute;
    inset: 0 0 0 0;
    background: url(../images/exterior_01.jpg)no-repeat center center/cover;
}

.main_design .design_ext_slide .itm02 .slide_img {
    position: absolute;
    inset: 0 0 0 0;
    background: url(../images/exterior_02.jpg)no-repeat center center/cover;
}

.main_design .design_ext_slide .itm03 .slide_img {
    position: absolute;
    inset: 0 0 0 0;
    background: url(../images/exterior_03.jpg)no-repeat center center/cover;
}

.main_design .design_ext_slide .itm04 .slide_img {
    position: absolute;
    inset: 0 0 0 0;
    background: url(../images/exterior_04.jpg)no-repeat center center/cover;
}

.main_design .design_space_slide {}

.main_design .design_space_slide .itm01 .slide_img {
    position: absolute;
    inset: 0 0 0 0;
    background: url(../images/space_01.jpg)no-repeat center center/cover;
}

.main_design .design_space_slide .itm02 .slide_img {
    position: absolute;
    inset: 0 0 0 0;
    background: url(../images/space_02.jpg)no-repeat center center/cover;
}

.main_design .design_space_slide .itm03 .slide_img {
    position: absolute;
    inset: 0 0 0 0;
    background: url(../images/space_03.jpg)no-repeat center center/cover;
}

.main_design .design_space_slide .itm04 .slide_img {
    position: absolute;
    inset: 0 0 0 0;
    background: url(../images/space_04.jpg)no-repeat center center/cover;
}

@media(max-width:768px) {
    .main_design .itm {
        height: 50vh;
    }

    .main_design .tit {
        padding: 0 16px;
    }

    .main_design .tit h2 {
        font-size: 40px;
    }
}

@media(max-width:480px) {

    .main_design .tit h2 {
        margin: 0 0 16px 0;
        text-indent: -2px;
    }

    .main_design::before {
        bottom: 0;
        height: 40%;
        width: 100%;
    }

    .main_design .tit {
        bottom: 12px;
        top: inherit;
        transform: translate(-50%, 0);
    }

    .main_design .design_ext_slide .itm .slide_img {
        background-position-x: -700px;
    }

    .main_design .design_ext_slide .itm02 .slide_img {
        background-position-x: -600px;
    }

    .main_design .design_ext_slide .itm03 .slide_img {
        background-position-x: -600px;
    }

    .main_design .tit .arrows.on {
        margin-left: -4px;
    }
}











.main_desc {
    overflow: hidden;
    position: relative;
}

.main_desc::before {
    content: '';
    z-index: 1;
    position: absolute;
    inset: 0 0 0 0;
    background: url(../images/Group\ 9.png)no-repeat center center/cover;
}

.main_desc .tit {
    z-index: 9;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%, 0);
}

.main_desc .txt {
    z-index: 9;
    position: absolute;
    bottom: 80px;
    left: 50%;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    transform: translate(-50%, 0);
}

.main_desc .txt p {
    position: relative;
    margin: 24px 0 0 0;
    text-align: right;
}


.main_desc .video_box {
    position: absolute;
    top: 0;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.main_desc .video_box iframe {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    height: 100%;
}

@media(max-width:768px) {
    .main_desc {
        background: #fff;
    }

    .main_desc .fp-tableCell {
        display: flex;
        flex-direction: column;
    }

    .main_desc_inner {
        display: flex;
    }

    .main_desc::before {
        display: none;
    }

    .main_desc .video {
        order: -1;
    }

    .main_desc .video_box {
        position: relative;
    }

    .main_desc .txt_box {
        display: flex;
        padding: 40px 16px;
    }

    .main_desc .txt_box .tit h2 {
        text-indent: 0;
        margin: 0 0 16px -2px;
    }

    .main_desc .txt_box .tit strong {
        line-height: 24px;
    }

    .main_desc .txt {
        position: static;
        transform: translate(0, 0);
    }

    .main_desc .txt .desc {
        text-align: left;
        margin: 0;
    }

    .main_desc .txt .desc:last-child {
        margin: 16px 0 0 0;
    }

    .main_desc .tit {
        position: static;
        transform: translate(0, 0);
    }

    .main_desc .video_box iframe {
        position: absolute;
    }
}

@media(max-width:480px) {

    .main_desc {
        z-index: 9;
        border-bottom: 1px solid #fff;
    }

    .main_desc .txt_box {
        flex-direction: column;
    }
}












.main_content {
    background: #eee;
}

.main_content .inner {
    padding-top: 80px;
}

.main_content .inner .img_box {
    border: 1px solid #ddd;
}

.main_content .content_top {
    display: flex;
    align-items: center;
}

.main_content .content_top>* {
    flex: 1;
}

.main_content .content_top .content_desc {
    margin: auto 0;
    text-align: right;
}

.main_content .content_top .content_desc strong {
    display: block;
    font-weight: 400;
}

.main_content .content_top .content_desc p {
    font-weight: 300;
    color: var(--desc-color);
}

.main_content .content_top .img_box {
    order: -1;
}

.main_content .content_bottom {
    display: flex;
    align-items: center;
}

.main_content .content_bottom>* {
    flex: 1;
}

.main_content .content_bottom .content_desc {
    margin: auto 0;
    text-align: left;
}

.main_content .content_bottom .content_desc p {
    font-weight: 300;
    color: var(--desc-color);
}

@media(max-width:768px) {
    .main_content {
        margin-top: -1px;
    }

    .main_content .inner {
        padding: 0;
    }

    .main_content .content_top {
        flex-direction: column;
        gap: 24px;
        align-items: baseline;
        margin: 0 0 32px 0;
    }

    .main_content .content_bottom {
        flex-direction: column;
        gap: 24px;
        align-items: baseline;
    }

    .main_content .content_top .content_desc h2 {
        text-indent: -3px;
    }

    .main_content .content_bottom .content_desc h2 {
        text-indent: -3px;
    }

    .main_content .content_bottom .img_box {
        order: -1;
    }

    .main_content .content_top .content_desc {
        text-align: left;
    }

    .main_content .content_bottom .content_desc {
        text-align: left;
    }
}

@media(max-width:480px) {
    .main_content .content_top .content_desc strong {
        line-height: 24px;
        word-break: keep-all;
        width: 350px;
    }
}





.main_project {}

.main_project .inner {
    padding-top: 80px;
    height: auto;
}

.main_project .inner .project {
    display: flex;
}

.main_project .inner .project>* {
    flex: 1;
}

.main_project .inner .project .project_desc {
    margin: auto 0;
    text-align: left;
}

.main_project .inner .img_box img {
    width: 100%;
    height: 100%;
}

@media(max-width:768px) {
    .main_project {
        margin-top: -1px;
    }

    .main_project .inner {
        padding: 0;
    }

    .main_project .inner .project {
        flex-direction: column;
        gap: 24px;
    }

    .main_project .inner .project .img_box {
        order: -1;
    }
}














.main_map {
    position: relative;
    background: url(../images/main_map01.jpg)no-repeat center center/cover;
}

.main_map .map_inner {
    width: 100%;
    height: 100%;

}

.main_map .tit {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);

    max-width: 1440px;
    width: 100%
}

.m_map_img_box {
    display: none;
}

@media(max-width:768px) {
    .main_map {
        border-top: 1px solid #ddd;
        margin-top: -1px;
        background: var(--white-color);
    }

    .main_map .tit {
        position: static;
        transform: translate(0, 0);
    }

    .main_map .tit .desc {
        text-indent: 0;
    }

    .map_inner {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .m_map_img_box {
        display: block;
        order: -1;
        border: 1px solid #eee;
    }

}

@media(max-width:390px) {
    .main_map {
        background: var(--white-color);
        border-bottom: 1px solid #eee;
    }

}





.main_samsung {}

.main_samsung .inner {
    padding-top: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.main_samsung .inner>* {
    flex: 1;
}

.main_samsung .inner .tit {
    order: 1;
    text-align: end;
}

.main_samsung .inner .tit h2 {
    line-height: 72px;
}

.main_samsung .inner .itm img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:768px) {
    .main_samsung {
        border-top: 1px solid #ddd;
        margin-top: -1px;
    }

    .main_samsung .inner {
        padding: 0;
        flex-direction: column;
    }

    .main_samsung .inner .tit {
        text-align: left;
    }

    .main_samsung .inner .tit h2 {
        line-height: 48px;
        text-indent: 0;
        margin: 0 0 16px -1px;
    }
}







.footer {
    font-size: 14px;
    color: #eee;
    background: #666;
}

.footer .inner .ft {
    margin: 40px 0;
}

.footer .inner .ft>ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.footer .inner .ft>ul>li>ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer .inner .ft>ul>li>ul>li:first-child {
    font-size: 18px;
    line-height: 27px;
}

.footer .inner .fb {
    text-align: center;
    margin: 40px 0;
}

.footer .inner .fb p {
    margin: 0 0 16px 0;
}

@media(max-width) {
    .footer {
        margin-top: -1px;
    }
}